body {
    font-family: 'Courier New', Courier, monospace;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    margin-bottom: 10px;
    width: 4em;
}

.btn {
    margin-bottom: 10px;
    width: 100px;
}

.colorBtn {
    width: 150px;
}

.grid {
    display: flex;
    justify-self: center;
    height: 400px;
    width: 400px;
    margin-top: 20px;
    box-shadow: 0 0 10px 10px lightgray;
}


.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cell {
    flex: 1;
}

.grid {
    border: 1px solid black;
}