.grid {
    display: flex;
    height: 400px;
    width: 400px;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cell {
    flex: 1;
}

.grid, .col, .cell {
    border: 1px solid black;
}